:root {
    --primary-color: #69B99D;
    --second-color: #CCF4E6;
    --gradient: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
    --dark: #0F241D;
    --gray: #767676;
    --light-gray: #E4E4E4;
    --background-1: #F9F9F9;
    --background-2: #FFFFFF;

    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--gray);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}