#contact .grid {
    gap: 6.4rem;
}

#contact .text p {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact .text .button {
    width: 23.6rem;
    gap: 1rem;
}

#contact .links ul {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    list-style: none;
}

#contact .links ul li {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}