#services .grid {
    gap: 6.4rem;
}

#services header .title {
    margin-bottom: 1.6rem;
}

#services header p {
    color: var(--dark);
}

#services header strong {
    font-weight: 700;
    color: var(--primary-color);
}

#services .cards {
    display: grid;
    gap: 2.4rem;
}

@media (min-width: 1200px) {
    #services header {
        max-width: 52.3rem;
        margin-inline: auto;
        text-align: center;
    }

    #services header .title {
        margin-bottom: 1.2rem;
    }

    #services header p {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    #services .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}