.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 3.2rem;
    color: var(--dark);
    text-decoration: none;
}

.logo span {
    color: var(--primary-color);
}

.logo--footer span {
    color: var(--background-1);
}

@media (min-width: 1200px) {
    .logo {
        font-size: 2.4rem;
    }

    .logo--footer {
        font-size: 3.7rem;
    }
}