.navigation {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-1);
}

.navigation .menu {
    opacity: 0;
    visibility: hidden;
}

.navigation.show .menu {
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-2);
    z-index: 1;
}

.navigation.show .menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    list-style: none;
}

.navigation.show .menu ul li a {
    color: var(--dark);
}