.navigation {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .menu {
    position: absolute;
    top: -32rem;
    transition: 0.2s;
}

.navigation .menu ul {
    display: none;
}

.navigation .icon-close {
    position: absolute;
    top: -2.4rem;
    right: 2.4rem;
    transition: 0.2s;
}

.navigation.show .menu {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-2);
    z-index: 1;
}

.navigation.show .menu ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    list-style: none;
}

.navigation.show .menu ul li a {
    color: var(--dark);
}

.navigation .menu ul li a {
    position: relative;
    transition: color 0.2s;
}

.navigation .menu ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -2.4rem;
    transition: width 0.2s;
}

.navigation .menu ul li a:hover,
.navigation .menu ul li a.active {
    /* font-weight: 700; */
    color: var(--primary-color);
}

/* .navigation .menu ul li a:hover::after, */
.navigation .menu ul li a.active::after {
    width: 100%;
}

.navigation.show .icon-close {
    position: fixed;
    top: 2.4rem;
    right: 2.4rem;
    z-index: 1;
}

@media (min-width: 1200px) {
    .navigation .menu {
        position: static;
    }

    .navigation .menu ul {
        display: flex;
        gap: 3.2rem;
        list-style: none;
    }

    .navigation .menu ul li a {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: var(--dark);
    }

    .navigation .icon-menu {
        display: none;
    }
}