.navigation {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-1);
}

.navigation .menu {
    display: none;
}

.navigation .icon-close {
    display: none;
}

.navigation.show .menu {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-2);
    z-index: 1;
}


.navigation.show .menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    list-style: none;
}

.navigation.show .menu ul li a {
    color: var(--dark);
}

.navigation .menu ul li a {
    position: relative;
    transition: color 0.2s;
}

.navigation .menu ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -2.4rem;
    transition: width 0.2s;
}

.navigation .menu ul li a:hover {
    color: var(--primary-color);
}

.navigation .menu ul li a:hover::after {
    width: 100%;
}

.navigation.show .icon-close {
    display: block;
    position: fixed;
    right: 2.4rem;
    z-index: 1;
}